@model Gunny.Models.UserAdmin
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

@using (Html.BeginForm("PostLogin", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="cont">
        @if (@TempData["AlerMessage"] != null)
        {
            <div class="alert alert-danger" role="alert" style="display: flex; justify-content: center; width: 100%; }">
                @TempData["AlerMessage"]
            </div>
        }
        <div class="form sign-in">
            <h1 class="text-dark mb-3" style="text-align:center">Quản trị  Wefinance </h1>
        </div>
        <div class="fv-row mb-10">
            <label class="form-label fs-6 fw-bolder text-dark">Tên đăng nhập</label>
            @Html.TextBoxFor(m => m.Username, "", new { @class = "form-control", @placeholder = "" })

        </div>
        <div class="fv-row mb-10">
            <label class="form-label fs-6 fw-bolder text-dark">Mật khẩu</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "" })
        </div>
        <button type="submit" class="submit btn btn-lg btn-primary w-100 mb-5">Đăng nhập</button>
    </div>
}


