@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_AdminGunny.cshtml";
}

@using X.PagedList.Mvc.Core
@using X.PagedList;
@model Gunny.Models.MemAccount
<div class="col-md-12">
    <div class="card card-xl-stretch mb-5 mb-xl-12">

        <div class="card-body py-3 row">
            <h1>Danh sách người chơi</h1>
            @using (Html.BeginForm("Users", "admin", FormMethod.Get))
            {
                <p>
                    <div class="input-group mb-3" style="display:flex; ">
                        @Html.TextBox("username", ViewBag.CurrentFilter as string, new { @class="form-control" ,@style="width:80%" ,@placeholder="nhập tên đăng nhập"})
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </p>
            }

            <table class="table align-middle table-row-dashed fs-6 gy-5">
                <thead>
                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                        <th  class="min-w-125px sorting text-dark">
                            UserId
                        </th>
                        <th  class="min-w-125px sorting text-dark">
                            Tên đăng nhập
                        </th>
                        <th class="min-w-125px sorting text-dark">
                           Biệt danh
                        </th>
                        <th class="min-w-125px sorting text-dark">
                           Họ và tên
                        </th>
                        <th  class="min-w-125px sorting text-dark">
                            Số tiền
                        </th>
                        <th  class="min-w-125px sorting text-dark">
                            Xác minh
                        </th>

                        <th class="min-w-125px sorting text-dark">
                            Thao tác
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.MemAccount)
                    {
                        <tr>
                            <td>
                                @item.UserId
                            </td>
                            <td>
                                @item.Email
                            </td>
                              <td>
                                @item.Nickname
                            </td>
                            <td>
                                @item.Fullname
                            </td>
                            <td class="moneys">
                                @item.TotalMoney
                            </td>
                            <td>

                                @if (@item.IsValidate == 2)
                                {
                                    <p style="color:blue; font-weight:bold">Tài khoản đã xác minh</p>
                                }
                                @if (@item.IsValidate == 1)
                                {
                                    <p style="color:#ffbc00; font-weight:bold">Tài khoản chờ xác minh</p>
                                }
                                @if (@item.IsValidate == 0 || @item.IsValidate == null)
                                {
                                    <p style="color:red">Tài khoản chưa được xác minh</p>
                                }
                            </td>
                            <td style="display:flex; justify-content:end">
                                <a href="/admin/Recharge?id=@item.UserId" class="btn btn-warning btn-sm" style="margin-right:5px">Nạp tiền</a>
                                <a class="btn btn-primary btn-sm" style="margin-right:5px" href="/admin/users/@item.UserId">Xác minh</a>
                                <a class="btn btn-danger btn-sm" style="margin-right:5px" href="/admin/remove/@item.UserId">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <br />
            @Html.PagedListPager((IPagedList)ViewBag.MemAccount, page => Url.Action("Users", "admin",
            new { page = page , username = ViewBag.searchItem }))
            <!-- Kết thúc -->
        </div>
    </div>
</div>