@model Gunny.Models.SendMail.Payment;
@{
    ViewData["Title"] = "Thông tin nạp thẻ";
    Layout = "~/Views/Shared/_AccountAdmin.cshtml";
}
@using (Html.BeginForm("PostIndex", "Payment", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @if (@TempData["AlerMessageSuccess"] != null)
    {
        <div class="alert alert-success" role="alert" style="display: flex; justify-content: center; width: 100%; }">
            @TempData["AlerMessageSuccess"]
        </div>
    }
    @if (@TempData["AlerMessageError"] != null)
    {
        <div class="alert alert-danger" role="alert" style="display: flex; justify-content: center; width: 100%; }">
            @TempData["AlerMessageError"]
        </div>
    }
    <h1>Thông tin gửi email xác nhập nạp thẻ</h1>
    <hr />
    <div class="row">
        <div class="col-md-3 gunny-text">
            Tài khoản
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 gunny-text">
            Số tiền nạp
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.NumberOfMoney, new { @class = "form-control" })
        </div>
        <div class="col-md-3" style="color:black">Ví dụ: 200 000VNĐ</div>
    </div>
    <div class="row">
        <div class="col-md-3 gunny-text">
            Nội dung ghi chú
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(m => m.Note, new { @rows = 8, @class = "form-control", @placeholder = "Nhập nội dung thông tin tài khoản của bạn để admin biết" })
        </div>
        <div class="col-md-3">
            <p>Cú pháp:</p>
            <p>Tên chủ thẻ, stk ngân hàng, tên ngân hàng</p>
            <p>vd: Nguyen Van A, 01397856, TPBANK</p>
        </div>
    </div>
    <div class="d-flex justify-content-center " style="margin-top:10px; margin-bottom:10px">
        <button type="submit" class="btn btn-primary  ">Gửi thông tin</button>
    </div>
    <div style="color:red">
        Vui lòng liên hệ fanpage để được hỗ trợ duyệt lệnh nhanh!
    </div>

    <div style="color:black">
        <p> Số Tài Khoản : 1903 297 161 0018</p>
        <p> Tên Ngân Hàng : Techcombank</p>
        <p> Chủ Tài Khoản : Hồ Anh Tuấn</p>
    </div>
}