@model Gunny.Models.InformationMemAccount.User
@{
    ViewData["Title"] = "Liên kết ngân hàng";
    Layout = "~/Views/Shared/_AccountAdmin.cshtml";
}
<style>
    .card-body.row > div {
        margin-bottom: 30px;
    }
</style>

<div class="row" style="margin-top:-30px;">
    @using (Html.BeginForm("EditBankMemAccount", "Account", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-12">
            <div class="card card-xl-stretch mb-5 mb-xl-12">
                <div class="card-body py-3 row">
                    @if (@TempData["AlerMessageSuccess"] != null)
                    {
                        <div class="alert alert-success" role="alert" style="display: flex; justify-content: center; width: 100%; }">
                            @TempData["AlerMessageSuccess"]
                        </div>
                    }
                    @if (@TempData["AlerMessageError"] != null)
                    {
                        <div class="alert alert-danger" role="alert" style="display: flex; justify-content: center; width: 100%; }">
                            @TempData["AlerMessageError"]
                        </div>
                    }
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4 gunny-text">
                               Ngân hàng hưởng thụ
                            </div>
                            <div class="col-md-8 ">
                                @Html.TextBoxFor(m => m.BankName, "", new { @type = "text", @class = "form-control w-80",@placeholder="Ngân hàng thụ hưởng" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4 gunny-text">
                               Tên tài khoản ngân hàng
                            </div>
                            <div class="col-md-8 ">
                                @Html.TextBoxFor(m => m.BankUserName, "", new { @type = "text", @class = "form-control w-80",@placeholder="Ngân hàng thụ hưởng" })
                                <p>@Model.Fullname</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4 gunny-text">
                                Số tài khoản
                            </div>
                            <div class="col-md-8 ">
                                @Html.TextBoxFor(m => m.BankNumber, "", new { @type = "number", @class = "form-control w-80",@placeholder=" Số tài khoản ngân hàng" })
                            </div>
                        </div>
                    </div>
                
                  
                    @if (@Model.IsValidate == 2)
                    {
                        <p style="color:blue; font-weight:bold">Tài khoản đã xác minh</p>
                    }
                    @if (@Model.IsValidate == 1)
                    {
                        <p style="color:#ffbc00; font-weight:bold">Tài khoản chờ xác minh</p>
                    }
                    @if (@Model.IsValidate == 0 || @Model.IsValidate == null)
                    {
                        <p style="color:red">Tài khoản chưa được xác minh</p>
                    }
                    <div class="d-flex justify-content-center " style="margin-top:10px; margin-bottom:10px">
                        <button type="submit" class="btn btn-primary  ">Cập nhật</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script>
        document.getElementById('file2').onchange = function () {
            $('#file2-name').text(this.value);
            $('#file2-img').hide();
        };
        document.getElementById('file1').onchange = function () {
            $('#file1-name').text(this.value);
            $('#file1-img').hide();
        };

        document.getElementById('fileAvatar').onchange = function () {
            $('#file1-avatar').text(this.value);
            $('#fileAvatar-img').hide();
        };
    </script>
}