@{
    ViewData["Title"] = "Trang chủ";
}

<div class="row-content pos_contents_top" style="margin-top:15px">
    <h4>Có @ViewBag.Total kết quả với từ khóa : <span style="color:red">@ViewBag.Search</span></h4>
                </div>
<div class="block_products products_2 blocks_products blocks2 block">
    <div id="block-22" class="block-products block-products-default" style="">
        <div class="container">
            <div class="block-heading">
                <a href="" class="heading">Danh sách tìm kiếm</a>
            </div>
            <div class="block-content">
                <div class="row pro-box-list box-home">
                    @foreach (var item in ViewBag.ListUsers)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 c-item col-xs-6 ">
                            <a href="javasctipt:;" alt="@item.fullname" class="c-image">
                                @if (@item.avatar != null)
                                {
                                    <img src="/files/@item.avatar" alt="@item.fullname" class="img-fluid img-thumbnail img-first  c-img_4137 lazy ">
                                    <img src="/files/@item.avatar" alt="@item.fullname" class="img-fluid img-thumbnail img-sec lazy">
                                }
                                @if (@item.avatar == null)
                                {
                                    <img src="/imgs/user.png" alt="@item.fullname" class="img-fluid img-thumbnail img-first  c-img_4137 lazy ">
                                    <img src="/imgs/user.png" alt="@item.fullname" class="img-fluid img-thumbnail  img-sec lazy">
                                }
                            </a>
                            <div class="price">
                                <p class="c-price">
                                    <span style="">100$</span>
                                    <br />
                                    <span style="">@item.count đăng ký </span>

                                </p>
                                <div>
                                    <div class="add-to-cart " data-username="@item.email">
                                        <button class="btn btn-sm btn-success @item.email">Đăng ký</button>
                                    </div>
                                    <div id="list-size-936" class="list-size">
                                    </div>
                                </div>

                            </div>
                            <h3 class="c-name">
                                <a href="javasctipt:;" title="@item.fullname" class="name">
                                    @item.fullname
                                </a>
                            </h3>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
        <script type="text/javascript" src="/frontend/home.js?v=20230319084959"></script>
}